body { 
    font-family: Arial, sans-serif; 
    text-align: center;
    margin: 0;
    background-color: rgb(250, 250, 250);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.topbar {
  background-color:  rgba(81, 134, 127, 0.11);
  position: sticky;
  top: 0;
  width: 100vw;
  left: 0;
  padding: 11px 0;
}

.listview {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  height: 50vh;
  overflow: scroll;
  background-color: white;
  overflow-x: hidden;
}

.task { 
  display: flex; 
  justify-content: space-between; 
  padding: 5px; 
  border-bottom: 1px solid #ccc; 
}
.completed { 
  text-decoration: line-through; 
  color: gray; 
}
.inputarea {
  position: fixed;
  bottom: 0;
  background-color: #fafafa;
  left: 50%;
  translate: -50% 0;
  width: 100vw;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputbox {
  padding: 0px;
  height: 61px;
  width: 70vw;
  min-width: 263px;
  display: flex;
  background-color: rgb(223 223 223);
  box-shadow: -3px -3px 3px white, 3px 3px 3px #000000b3;
  justify-content: center;
  align-items: center;
  border-radius: 100000px;
}
.input {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  border-radius: 1000px;
}
.input:focus-within {
  box-shadow: 0 0 4px black;
}
.input input {
    border: 0;
    padding: 15px 20px;
    outline: 0;
    transition: border 0.4s;
}

.input input:focus-visible ~ .input {
  box-shadow: 0 0 5px black;
}

#addbtn {
  background-color: transparent;
  height: 100%;
  aspect-ratio: 1;
  border-radius: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: rgba(128, 128, 128, 0.37);
}